@tailwind base;
@tailwind components;
@tailwind utilities;

  .round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 2.9px;
    width: 18px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 10px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color:rgb(79 70 229);
    border-color: rgb(79 70 229);
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }



/* body{
  background-color: rgb(241 245 249);
} */

input[auto-focus="true"]:focus {
  outline: none;
}